@use '../../root.scss';
.nav__item{
    padding: 8px 16px;
    font-size: 14px;
    opacity: .6;
    cursor: pointer;
    font-weight: 600;
    transition: .2s;
    color: var(--textColor);
    text-decoration: none;
    text-transform: uppercase;

    &.navItemDropDown{
        color: var(--buttonTextHover);
    }

    &:hover{
        opacity: 1;
    }
    
    &.active{
        opacity: 1;
    }
}