@use '../../../root.scss';
.rotateBox2{
    position: absolute;
    top: -60%;
    left: 55%;
    right: 0;
    height: 100vh;
    width: 150vw;
    background-color: var(--rotateBg2);
    border-radius: 22%;
    transform: matrix(-1, 0, 0, 1, 0, 0) rotate(6deg);
}